<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>High Street Gym - Login</title>
</head>
<body>
    <section class="main">
        <section>
            <img src="/img/logo.png" alt="Logo" class="main-logo">
            <h1>Login</h1>
        </section>
        <section>
            <button disabled class="btn-large-regular"><a href="/microblog/guest"><h4>Sign in as a Guest</h4></a></button>
            <form action="/auth" method="post">
                <section>
                    <input type="text" name="email" id="email" placeholder="Email" class="i-large">
                    <input type="password" name="password" id="password" placeholder="Password" class="i-large">
                </section>
                <section class="sec-small">
                    <button disabled class="btn-small-regular"><a href="/auth/register"><h4>Sign Up</h4></a></button>
                    <input type="submit" name="action" value="Login" class="btn-small-medium">
                </section>
            </form>
        </section>
    </section>
</body>
</html>